body {
    background: #0c0331;
}


text {
    fill: whitesmoke;
    text-align: right;
    font-family: Roboto, Lato, sans-serif;

}

.private {
    fill: url(#privateGradient);
}

.public {
    fill:url(#publicGradient);
}

#privateGradient{
    --color-stop: #f1b7c4;
    --color-bot: #f3a908;
}

#publicGradient{
    --color-stop: #8D9EF6;
    --color-bot: #f02929;
}

h1 {
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

h2 {
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    margin-top: 0;
}

.tooltip {
    background: rgb(27, 27, 27);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
}
b{
    color: whitesmoke;
    font-family: Roboto, Lato, sans-serif;
}

span{
    color: whitesmoke;
    font-family: Roboto, Lato, sans-serif;
}